<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.judul %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Page:</strong>
  <%= @book.page %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<button type="button" class="btn btn-success"><%= link_to 'Edit', edit_book_path(@book) %></button> |
<%= link_to 'Back', books_path %>
